		/*
		 * App Styles.
		 */
		html {
			position: relative;
			min-height: 100%;
		}
		body {
			font-family: monospace;
			/* Margin bottom by footer height */
			margin-bottom: 60px;
		}
		body > .container {
			padding: 50px 15px 0;
		}
		.footer {
			position: absolute;
			bottom: 0;
			width: 100%;
			/* Set the fixed height of the footer here */
			height: 40px;
			background-color: #f5f5f5;
		}
		.footer > .container {
			padding-right: 15px;
			padding-left: 15px;
		}
		.footer .text-muted {
			font-family: 'VT323', monospace;
			margin: 10px 0;
		}
		.navbar {
			min-height: 40px;
		}
		.navbar-brand {
			font-size: 20px;
			height: 40px;
		}
		.navbar-brand,
		.navbar .navbar-nav a {
			font-family: 'VT323', monospace;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		.page-header {
			margin: 15px 0 15px 0;
			padding-bottom: 10px;
		}
		.page-header h1 {
			font-family: 'VT323', monospace;
			font-size: 20px;
			font-weight: bold;
			margin: 0;
		}