			/*
			 * Layout.
			 */
			html {
				min-height: 100%;
				position: relative;
			}
			body {
				/* Margin bottom by footer height */
				margin-bottom: 60px;
			}
			body > .container {
				padding: 50px 15px 0;
			}
			.footer {
				position: absolute;
				bottom: 0;
				width: 100%;
				/* Set the fixed height of the footer here */
				height: 40px;
				background-color: #f8f8f8;
			}
			.footer > .container {
				padding-right: 15px;
				padding-left: 15px;
			}
			.footer .text-muted {
				margin: 10px 0;
			}