		<!-- Styles -->
		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Bootstrap theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<link rel="stylesheet" href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" integrity="sha384-Zkac0XF9hjW3YEzKQ9rx9Y48t+ssTg317uEcuak+ttIZQq2FOr3vMqS9xREP/eHG" crossorigin="anonymous">
		<!-- Google fonts -->
		<!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=VT323" integrity="sha384-iIhOi04TrGLob3ighBFyXeBjjteBtyi3CwW7h/Jx5/SToA9lQtZptYOv45/6Ld52" crossorigin="anonymous">-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=VT323" crossorigin="anonymous">
		<!-- html5 shim and Respond.js for IE8 support of html5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js" integrity="sha384-qFIkRsVO/J5orlMvxK1sgAt2FXT67og+NyFTITYzvbIP1IJavVEKZM7YWczXkwpB" crossorigin="anonymous"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
		<![endif]-->
		<!-- App -->
		<style type="text/css" media="screen">
			/*
			 * App Styles.
			 */
			html {
				min-height: 100%;
				position: relative;
			}
			body {
				font-family: monospace;
				/* Margin bottom by footer height */
				margin-bottom: 60px;
			}
			body > .container {
				background-color: #f2f2f2;
				padding: 50px 15px 0;
			}
			.footer {
				position: absolute;
				bottom: 0;
				width: 100%;
				/* Set the fixed height of the footer here */
				height: 40px;
				background-color: #f5f5f5;
			}
			.footer > .container {
				padding-right: 15px;
				padding-left: 15px;
			}
			.footer .text-muted {
				font-family: 'VT323', monospace;
				margin: 10px 0;
			}
			.navbar {
				min-height: 40px;
			}
			.navbar-brand {
				font-size: 20px;
				height: 40px;
			}
			.navbar-brand,
			.navbar .navbar-nav a {
				font-family: 'VT323', monospace;
				padding-top: 10px;
				padding-bottom: 10px;
			}
			.page-header {
				margin: 15px 0 15px 0;
				padding-bottom: 10px;
			}
			.page-header h1 {
				color: #793862;
				font-family: 'VT323', monospace;
				font-size: 20px;
				font-weight: bold;
				margin: 0;
			}
		</style>